html {
  padding: 5px;
  width: 600px;
}
body {
  width: 600px;
}

.btn {
  background-color: #5A999A;
  border: 0;
  border-radius: 8pt;
  text-align:center ;
  font-family: 'Merriweather', serif;
}

.btn-primary:hover{
     background-color: #F3D06A;
}
.results{
  padding-top: 15px;
}

.row {
  position: relative;
}

button {
  position: absolute;
  right: 0;
}
p {
  color: #8D8276;
  white-space: normal;
  font-family: 'Merriweather', serif;
  font-size: 12;
}

h1 {
  font-size: 34px;
  color: #5A999A;
  font-family: 'Raleway', sans-serif;
  border-bottom: 6px solid black;
  width: 65px;
  border-color: #5A999A;
  padding-bottom: 4px;
}

h2 {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  color: #8DC0B2;
}

.result {
  padding-bottom: 10px;
}
